@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="modal" tabindex="-1" role="dialog" id="myCyberMonday">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <p style="margin:0px; padding: 0px;">
                <button type="button" class="close buttonCyber" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </p>
            <img src="/home/images/Cyber-MondayPop-Up3.jpg" alt="Cyber Monday" id="cybermonday" />
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->